body{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    display: grid;
    width: 50%;


}
.header,.sidebar,.c1,.c2,.c3,.footer{

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}
.header{

   padding: 10px;
    grid-row: 1;
    grid-column:1/span 3;
   background-color: purple;
   color: white;
}
.sidebar{
   padding: 10px;
    padding: auto;
    grid-column: 1;
    grid-row: 2/span 3;
    background-color: aqua;
    background-image: linear-gradient(to bottom right,aqua,white);




}
.c1{
   padding: 10px;
    grid-row: 2 ;
    background-image: linear-gradient(to bottom right,blue,white);

    grid-column: 2/ span 2;
    background-color: blue ;
   color: white;



}
.c2,.c3{
    background-image: linear-gradient(to bottom right,blue,white);
   padding: 10px;
   color: white;
   background-color: blue ;

}

.footer{
    padding: 10px;
    grid-row: 5;
    grid-column:1/span 3;
    background-color: purple;
    background-image: linear-gradient(to  right,purple,white);

    color: white;
}